@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(90, 155, 155);
    background-image: url('https://optim.tildacdn.com/tild6362-3563-4634-b263-326331633637/-/format/webp/arkii-razmytyi-kraso.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    font-family: 'Google Sans';
    font-size: 1rem;
    
}


#User_block {
    background-color: rgb(250, 224, 176);
    height: 37px;
    width: 117px;
    padding: 5px;
    margin: 10px;
    border: 3px solid rgb(131, 131, 131);
    border-radius: 30px;
    position: fixed;
    top: 30px;
    right: 30px;

    text-align: center;
    line-height: 40px;

    z-index: 100;
    
}


.block {
    background-color: white;
    border: 3px solid rgb(131, 131, 131);
    border-radius: 30px;
    padding: 1.5%;
    position: absolute;
}


#multi-block {
    width: 30%;
    height: 53.3%;
    top: 30%;
    right: 10%;
    float: right;

    background-color: rgba(168, 168, 168, 0.85);
    border: 3px solid rgb(131, 131, 131);
    border-radius: 30px;
    margin: 10px;
    position: absolute;
    

}

#image-block {
    width: 35.5%;
    height: 35.5%;
    top: 1.8%;
    right: 1.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#image-block img {
    width: 96.4%;
    height: 96.4%;
    border-radius: 10px;

}


#inf_block {
    width: 59.1%;
    height: 35.5%;
    top: 1.8%;
    left: 1.8%;


}

#info_block {
    position: absolute;
    
    top: 39.1%;
    left: 1.8%;
    right: 1.8%;
    bottom: 1.8%;


}

#Info {
    width: 30%;
    height: 53.3%;
    top: 30%;
    left: 10%;
    float: left;

}


.project_to {
    color: black;
    text-decoration: none;
    background-color: white;
}


.project_to:hover {
    color: blue;

}